<div class="space-y-6">
  <h2 class="text-center font-bold text-2xl">EVENTOS</h2>
  <div id="events-container" class="space-y-2">
    <% @paginated_feed_data.each do |event| %>
      <% case event.type %>
      <% when :transfer %>
        <%= render partial: "fantasy/partials/transfer_card", locals: { transfer: event.data } %>
      <% when :gameweek_start %>
        <%= render partial: "fantasy/partials/gameweek_start_card", locals: { event: event.data } %>
      <% when :gameweek_end %>
        <%= render partial: "fantasy/partials/gameweek_end_card", locals: { event: event.data } %>
      <% when :clause_drops %>
        <%= render partial: "fantasy/partials/clause_drops_card", locals: { event: event.data } %>
      <% end %>
    <% end %>
  </div>

  <%= render partial: "fantasy/partials/pagination", locals: {
    id: "feed-pagination",
    current_page: @current_page_feed,
    total_pages: @total_pages_feed,
    type: "feed"
  } %>
</div>
