<div class="flex w-full grow justify-center">
  <div class="flex w-full flex-col shadow-2xl items-center bg-gray-800 border-2 border-gray-700 rounded-lg shadow m-2 md:flex-row md:max-w-xl hover:bg-gray-700">
    <img class="object-cover w-20 h-20 rounded-t-lg mt-2 md:ml-2 md:mt-0 md:h-16 md:w-16 md:rounded-none md:rounded-s-lg" src="<%= market_player.player_img %>" alt="Imagen del jugador <%= market_player.name %>" loading="lazy">

    <div class="flex flex-col justify-between p-4 leading-normal w-full">
      <div class="flex items-center gap-3">
        <div class="<%= market_player.position.browser[:color] %> border-solid border-2 border-black skew-x-[-10deg]">
          <p class="p-1 text-sm text-black font-bold skew-x-[10deg]"><%= market_player.position.browser[:position] %></p>
        </div>
        <h1 class="text-white font-bold text-lg"><%= market_player.name %></h1>
      </div>
      <div class="flex items-center w-full">
        <p class="text-xl font-bold text-white text-gray-900"><%= market_player.price %></p>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <span class="text-gray-400 mr-4"><%= market_player.points %> pts</span>
          <span class="text-gray-400">Media: <%= market_player.average %></span>
        </div>
        <div class="flex items-center">
          <% market_player.streak.each do |result| %>
            <span class="text-gray-400 ml-1"><%= result %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
