<% content_for :title, "Mi Equipo" %>

<% team_value = @team_data[:players]&.sum(&:value) || 0 %>
<% current_balance = @team_data[:info][:current_balance].to_s.gsub(/[^\d-]/, '').to_i %>
<% total_value = team_value + current_balance %>

<%= render partial: "fantasy/partials/page_layout", locals: {
  info: @team_data[:info],
  additional_stats: capture do %>
    <div>
      <span class="text-gray-400 text-sm">Jugadores</span>
      <p class="text-xl font-semibold">
        <%= @team_data[:players]&.count || 0 %> / 25
      </p>
    </div>
    <div class="h-8 w-px bg-gray-700"></div>
    <div>
      <span class="text-gray-400 text-sm">En venta</span>
      <p class="text-xl font-semibold">
        <%= @team_data[:players]&.count { |p| p.being_sold } || 0 %> / 6
      </p>
    </div>
    <div class="h-8 w-px bg-gray-700"></div>
    <div>
      <span class="text-gray-400 text-sm">Valor</span>
      <div class="flex flex-col">
        <p class="text-xl font-semibold leading-tight">
          <%= format_value(team_value) %>
        </p>
        <p class="text-sm text-gray-400 <%= total_value < 0 ? 'text-red-500' : '' %>">
          real: <%= format_value(total_value) %>
        </p>
      </div>
    </div>
  <% end,
  title: "Mi Plantilla",
  sidebar: render(partial: "fantasy/partials/team/sidebar"),
  content: render(partial: "fantasy/partials/team/content", locals: { filtered_players: @filtered_players })
} %>
